<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project_mad">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project_MAD">
        <activity
            android:name=".PlanningBudgetDelete"
            android:exported="false"
            android:parentActivityName=".PlanningBudget"/>
        <activity
            android:name=".PlanningEventUpdate"
            android:exported="false"
            android:parentActivityName=".PlanningEvents"/>
        <activity
            android:name=".PlanningBudgetAdd"
            android:exported="false"
            android:parentActivityName=".PlanningBudget"/>
        <activity
            android:name=".PlanningEvents"
            android:exported="false"
            android:parentActivityName=".Planning" />
        <activity
            android:name=".PlanningBudget"
            android:exported="false"
            android:parentActivityName=".Planning" />
        <activity
            android:name=".Transactions"
            android:exported="false" />
        <activity
            android:name=".Report"
            android:exported="false" />

        //Teo
        <activity
            android:name=".Receipt"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider1"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".Planning"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        //Mw
        <activity
            android:name=".TransactionHome"
            android:exported="false"
            android:parentActivityName=".Planning" />

        <activity
            android:name=".TransactionAdd"
            android:exported="false"
            android:parentActivityName=".Planning" />

        <activity
            android:name=".TransactionUpdate"
            android:exported="false"
            android:parentActivityName=".Planning" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>